label, description, button, toolbarbutton, textbox
{
    line-height: 1.5rem;
}

toolbaritem > toolbarbutton
{
    margin: 4px 6px;
}

toolbar
{
    padding: 4px;
}

tab
{
    padding: 6px;
    
    label
    {
        padding: 0;
    }
}

label, description
{
    padding: 0.4rem 4px;
}

::-moz-tree-row {
    min-height: 1.6rem;
}

splitter[orient="horizontal"]
{
    min-width: 1px;
}

splitter[orient="vertical"]
{
    min-height: 1px;
}

[kohidden="true"], [collapsed="true"]
{
    visibility: collapse;
}

toolbarbutton.menu-icon > label
{
    visibility: collapse;
}

.menu-accel-container
{
    opacity: 0.6;
    font-family: monospace;
}

page.widget listitem,
page.widget richlistitem
{
    padding-left: 4px;
    padding-right: 4px;
}
