label, description, button, toolbarbutton, textbox
{
    line-height: 1.5rem;
}

toolbaritem > toolbarbutton
{
    margin: 4px 6px;
}

toolbar
{
    padding: 4px 4px 6px;
}

tab
{
    padding: 6px;
    
    label
    {
        padding: 0;
    }
}

label, description
{
    padding: 0.5rem;
}

splitter[orient="horizontal"]
{
    min-width: 1px;
}

splitter[orient="vertical"]
{
    min-height: 1px;
}

[kohidden="true"], [collapsed="true"]
{
    visibility: collapse;
}