label, description, button, toolbarbutton, textbox
{
    line-height: 1.5rem;
}

description, tab, textbox, menulist, menuitem, menu, treecol, button, toolbarbutton,
checkbox, tabpanels, listitem, richlistitem
{
    color: @foreground; 
}

toolbaritem > toolbarbutton
{
    margin: 4px 6px;
}

toolbar
{
    padding: 4px;
}

tab
{
    padding: 6px;
    
    label
    {
        padding: 0;
    }
}

description, listitem, richlistitem
{
    padding: 0.2rem 4px;
}

image + label
{
    padding-left: 4px;
}

::-moz-tree-row {
    min-height: 1.6rem;
}

splitter[orient="horizontal"]
{
    min-width: 1px;
}

splitter[orient="vertical"]
{
    min-height: 1px;
}

[kohidden="true"], [collapsed="true"]
{
    visibility: collapse;
}

toolbarbutton.menu-icon > label
{
    visibility: collapse;
}

.menu-accel-container
{
    opacity: 0.6;
    font-family: monospace;
}

menu, menuitem
{
    padding: 0.5rem 6px;
}

button, toolbarbutton
{
    padding: 2px;
    margin: 2px;
}

page.widget listitem,
page.widget richlistitem
{
    padding-left: 4px;
    padding-right: 4px;
}

/* Textboxes */

textbox, menulist
{
    background: @textbox;
    padding: 4px;
    border-radius: 2px;
    margin: 4px;
}

tree:not(.bg_transparent),
listbox:not(.bg_transparent),
richlistbox:not(.bg_transparent)
{
    background: @textbox;
}

.disabled, [disabled="true"]
{
    opacity: 0.6;
}

separator
{
    height: 1rem;
    
    &.slim
    {
        height: 0.5rem;
    }
}

button:not(.button-toolbar-a)
{
    background: @button;
    color: @button-fg;
    margin: 4px;
    padding: 4px;
    border-radius: 2px;
}