*:not(scrollbar), ::-moz-tree-row, menuseparator, tabpanels
{
    -moz-appearance: none;
    background: transparent;
    margin: 0;
    padding: 0;
    border: 0;
}

description, label, button,tab, tabs, tabbox, panel, textbox, input {
	vertical-align: baseline;
    border-radius: inherit;
}

:root {
	line-height: 1;
}

menupopup {
    menu,
    menuitem,
    toolbarbutton,
    autorepeatbutton {
        list-style-image: none;
    }
}