@import url("chrome://tabularasa/skin/colors.less");
@import url("chrome://tabularasa/skin/reset.less");
@import url("chrome://tabularasa/skin/normalize.less");
@import url("chrome://tabularasa/skin/workarounds.less");

@import url("chrome://komodo/skin/plat/shared/scrolltabs.less");
@import url("chrome://komodo/skin/plat/shared/icons_depend.less");

:root
{
    font: message-box;
}

:root, menupopup, popup, panel, tree
{
    background: @background;
    color: @foreground;
}

::-moz-tree-cell-text
{
    color: @foreground;
}

*, ::-moz-tree-cell-text
{
    font-family: 'Droid Sans', 'Lucida Grande', 'Segoe UI', 'Open Sans', sans-serif;
    font-size: 0.9rem;
}

/* Komodo Toolbox */

#komodo_main
{
    -moz-box-orient: horizontal;
}

#toolbox_main
{
    background: @primary;
    
    & > vbox, #main-toolboxrow-wrapper
    {
        -moz-box-flex: 1;
    }
    
    #main-toolboxrow-wrapper
    {
        -moz-box-pack: center;
        -moz-box-align: center;
        padding: 8px 0;
    }
    
    &, #main-toolboxrow-wrapper, toolbar, toolbaritem,
    #main-toolboxrow > hbox
    {
        -moz-box-orient: vertical !important;
    }
    
    toolbar
    {
        width: auto !important;
        max-width: 50px;
        padding: 0;
    }
    
    #main-toolboxrow-wrapper > toolbar
    {
        visibility: collapse;
    }
    
    toolbarbutton dropmarker
    {
        visibility: collapse;
    }
    
    toolbaritem > toolbarbutton
    {
        margin: 4px 0;
    }
}

statusbar
{
    border-top: 1px solid @border;
    background: @primary;
    
    statusbarpanel > label
    {
        margin: 2px;
        padding: 3px;
    }
}

splitter
{
    &:not(.workspace_splitter)
    {
        background-color: @border;
    }
    
    &.workspace_splitter
    {
        position: relative;
        z-index: 100;
        
        &[orient="horizontal"]
        {
            min-width: 5px;
            width: 5px;
        }
        
        &[orient="vertical"]
        {
            min-height: 5px;
            height: 5px;
        }
    }
    
    &#workspace_left_splitter
    {
        border-right: 1px solid @border;
        margin-left: -4px;
    }
    
    &#workspace_right_splitter
    {
        border-left: 1px solid @border;
        margin-right: -4px;
    }
    
    &#bottom_splitter
    {
        border-top: 1px solid @border;
        margin-bottom: -4px;
    }
}

#placesSubpanelSplitterHboxBorder
{
    margin: 0 !important;
    background: transparent !important;
}

#placesSubpanelSplitter vbox,
#placesSubpanelDeck
{
    /*background: @secondary !important;*/
}

menupopup
{
    border: 1px solid @border;
}

tabs
{
    box-shadow: inset 0px -4px 0px 0px @border;
    
    tab
    {
        -moz-box-pack: center;
        -moz-box-align: center;
        min-height: 32px;
    }
    
    tab:not([selected])
    {
        border-bottom: 4px solid transparent;
    }
    
    tab[selected]
    {
        &, [selected]
        {
            background: @highlight;
        }
        
        position: relative;
        z-index: 100;
        border-bottom: 4px solid @special;
    }
}

ko-pane[type="icons"] tab
{
    padding: 6px;
    .tab-icon
    {
        margin-right: 0;
    }
}

treechildren::-moz-tree-row(selected)
{
    color: @selected-fg;
    background: @selected;
    
    description, label
    {
        color: @selected-fg;
    }
}

richlistitem, listitem, row /* :any is too flaky */
{
    &[selected="true"]
    {
        color: @selected-fg;
        background: @selected;
        
        description, label
        {
            color: @selected-fg;
        }
    }
}

treechildren::-moz-tree-cell-text(selected)
{
    color: @selected-fg;
}

menupopup menu:hover,
menupopup menuitem:hover
{
    background: @highlight;
}

menuseparator
{
    height: 1px;
    background: @border;
}

.menu-iconic-left
{
    visibility: collapse;
    margin-left: 6px;
}

/* Scrollbars */

page.widget[containerOrient="vertical"] scrollbar
{
    margin-left: -15px;
}

scrollbar
{
    -moz-appearance: none;
    border: 0;
    background: transparent;
    opacity: 1.0 !important;
    
    &[orient="vertical"]
    {
        min-width: 15px;
    }
    
    &[orient="horizontal"]
    {
        min-height: 15px;
    }

    slider
    {
        -moz-appearance: none;
        border: 0;
    }

    thumb
    {
        -moz-appearance: none;
        background: @secondary;
        border: 0;
    }

    thumb:hover
    {
        -moz-appearance: none;
        background: @secondary;
    }
}

tree, listbox, richlistbox
{
    &:not(.bg_transparent) scrollbar thumb
    {
        background: @background;
    }
}

/* Customizable Panes */

ko-pane:not([customizing]) .pane-drop-target
{
    display: none;
}

/* Pref Windows */

.pref-window:not(#prefWindow)
{
    padding: 0 24px;
}

caption 
{
    margin-top: 1rem;
    label
    {
        font-size: 1.2rem;
        color: @caption;
        font-weight: bold;
    }
}

.hud
{
    background: @primary;
    border: 1px solid @border;
}

#commando-panel
{
    label,
    description
    {
        font-size: 1rem !important;
        color: @selected-fg;
    }
    
    separator
    {
        height: 1px;
        background: @border;
    }
    
    #commando-tip
    {
        background: @secondary;
    }
}

.widgetToolbarWrap
{
    background: @primary;
    border-top: 1px solid @border;
    -moz-box-pack: center;
    -moz-box-align: center;
}