@import url("chrome://tabularasa/skin/colors.less");
@import url("chrome://tabularasa/skin/colors_override.less");

@icon-url-suffix:               "?color=@{escaped-icons}";
@icon-toolbar-url-suffix:       "?color=@{escaped-icons}";
@icon-widget-url-suffix:        "?color=@{escaped-icons}";
@icon-selected-url-suffix:      "?color=@{escaped-icons-selected}";
@icon-hud-url-suffix:           "?color=@{escaped-icons}";

@icon-folder-large:             url('@{icon-url-prefix}folder2.svg?color=@{escaped-folder}&size=32');
@icon-folder-open:              url('@{icon-url-prefix}folder2.svg?color=@{escaped-folder}');
@icon-folder-closed:            url('@{icon-url-prefix}folder2.svg?color=@{escaped-folder}');
@icon-folder-remote:            url('@{icon-url-prefix}folder3.svg?color=@{escaped-folder}');
@icon-project:                  url('@{icon-url-prefix}cabinet.svg?color=@{escaped-folder}');

@icon-arrow-down-small:         url("@{icon-url-prefix}arrow-down2.svg@{icon-url-suffix}");

@icon-checkbox:                 url("@{icon-url-prefix}checkbox-unchecked3.svg?color=@{escaped-icons-special}");
@icon-checkbox-checked:         url("@{icon-url-prefix}checkbox-partial3.svg?color=@{escaped-icons-special}");
@icon-radio:                    url("@{icon-url-prefix}radio-unchecked.svg?color=@{escaped-icons-special}");
@icon-radio-selected:           url("@{icon-url-prefix}radio-checked.svg?color=@{escaped-icons-special}");