menu .menu-right
{
    list-style-image: @icon-arrow-right-small;
}

treechildren::-moz-tree-twisty {
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    margin-right: -8px;
    list-style-image: @icon-arrow-right-small;
}

treechildren::-moz-tree-twisty(open) {
    list-style-image: @icon-arrow-down-small;
}
